.modal-content {
  display: flex;
  flex-direction: column;
}

.setup-form {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.setup-form label {
  padding: 0.5rem 0 0.25rem 0;
  color: var(--text-primary);
  display: block;
}

.setup-form,
.modal input,
.modal select,
.modal label {
  background-color: var(--primary-card-background);
}

.modal button {
  background-color: var(--accent-primary);
  color: var(--text-on-accent-primary);
  border: none;
  padding: .25rem 1rem;
  border-radius: .5rem;
  margin: 0.25rem 0;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgba(0, 0, 0, 0.8);
  /* Semi-transparent backdrop */
  justify-content: center;
  /* Center content */
  align-items: center;
  /* Center content */
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--primary-card-background);
  border-radius: .75rem;
  padding: 20px;
  border: 1px solid var(--accent-primary);
  width: 50%;
  /* Could be more or less, depending on screen size */
  max-width: 500px;
  margin: auto;
}

.modal h1 {
  background-color: var(--primary-card-background);
}

.modal form {
  background-color: var(--primary-card-background);
}

/* The Close Button */
.modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}